<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vasupay.customer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.fragment.home.TransferActivity"></activity>
        <activity android:name=".ui.fragment.home.AddBAActivity" />
        <activity android:name=".ui.fragment.history.HistoryDetailsActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.common.TermsAndConditionActivity" />
        <activity android:name=".ui.auth.OtpActivity" />
        <activity android:name=".ui.auth.MobileActivity" />
        <activity android:name=".ui.common.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>